{{#> layout }}
  <form class="row align-items-end" method="POST">
    <div class="col-md-5">
      <label for="from" class="form-label">Від</label>
      <input type="date" class="form-control" id="from" name="from">
    </div>
    <div class="col-md-5">
      <label for="to" class="form-label">До</label>
      <input type="date" class="form-control" id="to" name="to">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Згенерувати</button>
    </div>

    <hr class="my-4">

    <div id="items" class="row m-0 p-0"></div>

    <button id="add" class="btn btn-outline-success"><i class="bi bi-plus"></i></button>
  </form>

  <div id="template" class="row align-items-end m-0 p-0 mb-3 d-none">
    <div class="col-md-4">
      <label for="movie" class="form-label">Фільм</label>
      <select id="movie" class="form-select" name="movie">
        {{#each movies}}
        <option value="{{this.id}}">{{this.title}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-md-3">
      <label for="hall" class="form-label">Зал</label>
      <select id="hall" class="form-select" name="hall">
        {{#each halls}}
        <option value="{{this.id}}">{{this.name}}, {{this.complex_name}} ({{this.complex_address}})</option>
        {{/each}}
      </select>
    </div>
    <div class="col-md-2">
      <label for="time" class="form-label">Час</label>
      <input type="time" class="form-control" id="time" name="time">
    </div>
    <div class="col-md-2">
      <label for="price" class="form-label">Ціна</label>
      <div class="input-group">
        <span class="input-group-text">₴</span>
        <input type="number" class="form-control" id="price" name="price">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <div class="col-md-1">
      <button id="remove" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
    </div>
  </div>

  <script>
    function add(e) {
      const clone = $("#template").clone() 
      clone.removeClass("d-none")
      clone.appendTo("#items")
      clone.find("#remove").click((e) => {
        clone.remove()
        e.preventDefault()
      })
      e.preventDefault()
    }

    $("#add").click(add)

    add()
  </script>
{{/layout}}